fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
alembic
google-genai
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-multipart
slowapi
pymupdf
langchain-text-splitters
faiss-cpu
langchain-community
langchain-google-genai
